<script>
$(document).ready(function(){
  $("#question2").hide();
  $("#question3").hide();
  $("#question4").hide();
  $("#question5").hide();
  $("#question6").hide();
  $("#question7").hide();
  $("#question8").hide();
  $("#question9").hide();
  $("#question10").hide();
  $("#question11").hide();
  $("#button").hide();
  $("#email").hide();


  $('.question1').click(function(){
    $('#question1').hide();
    $('#question2').show();
  });

  $('.question2').click(function(){
    $('#question2').hide();
    $('#question3').show();
  });

  $('.question3').click(function(){
    $('#question3').hide();
    $('#question4').show();
  });

  $('.question4').click(function(){
    $('#question4').hide();
    $('#question5').show();
  });

  $('.question5').click(function(){
    $('#question5').hide();
    $('#question6').show();
  });

  $('.question6').click(function(){
    $('#question6').hide();
    $('#question7').show();
  });

  $('.question7').click(function(){
    $('#question7').hide();
    $('#question8').show();
  });

  $('.question8').click(function(){
    $('#question8').hide();
    $('#question9').show();
  });

  $('.question9').click(function(){
    $('#question9').hide();
    $('#question10').show();
  });

  $('.question10').click(function(){
    $('#question10').hide();
    $('#question11').show();
  });

  $('.question11').click(function(){
    $('#question11').hide();
    $('#email').show();
  });

  $('.bquestion1').click(function(){
    $('#question2').hide();
    $('#question1').show();
  });

  $('.bquestion2').click(function(){
    $('#question3').hide();
    $('#question2').show();
  });

  $('.bquestion3').click(function(){
    $('#question4').hide();
    $('#question3').show();
  });

  $('.bquestion4').click(function(){
    $('#question5').hide();
    $('#question4').show();
  });

  $('.bquestion5').click(function(){
    $('#question6').hide();
    $('#question5').show();
  });

  $('.bquestion6').click(function(){
    $('#question7').hide();
    $('#question6').show();
  });

  $('.bquestion7').click(function(){
    $('#question8').hide();
    $('#question7').show();
  });

  $('.bquestion8').click(function(){
    $('#question9').hide();
    $('#question8').show();
  });

  $('.bquestion9').click(function(){
    $('#question10').hide();
    $('#question9').show();
  });

  $('.bquestion10').click(function(){
    $('#question11').hide();
    $('#question10').show();
  });

});
</script>


<%= form_for [@assessment], url: assessments_path, html: { multipart: true } do |f| %>

<!-- 11 Hiring Quiz-->
  <div id="question1" class="well">
    <div class="quiz_box">
      <p class="text">1. My friends would say I enjoy learning new technologies.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteOneValue, 4 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteOneValue, 2 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteOneValue, 1 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteOneValue, 0 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary question1">Next</a>
    </div>
  </div>

  <div id="question2" class="well">
    <div class="quiz_box">
      <p class="text">2. When given the choice, I prefer to be given a task list to run with.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteTwoValue, 4 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteTwoValue, 2 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteTwoValue, 1 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteTwoValue, 0 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary bquestion1">Back</a>
      <a class="btn btn-primary question2">Next</a>
    </div>
  </div>

  <div id="question3" class="well">
    <div class="quiz_box">
      <p class="text">3. I enjoy solving problems.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteThreeValue, 4 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteThreeValue, 2 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteThreeValue, 1 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteThreeValue, 0 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary bquestion2">Back</a>
      <a class="btn btn-primary question3">Next</a>
    </div>
  </div>

  <div id="question4" class="well">
    <div class="quiz_box">
      <p class="text">4. I work best in a social environment.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteFourValue, 0 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteFourValue, 1 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteFourValue, 2 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteFourValue, 4 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary bquestion3">Back</a>
      <a class="btn btn-primary question4">Next</a>
    </div>
  </div>

  <div id="question5" class="well">
    <div class="quiz_box">
      <p class="text">5. When I start my day, I respond to all emails before reviewing priorities for the day.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteFiveValue, 0 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteFiveValue, 1 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteFiveValue, 2 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :remoteFiveValue, 4 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary bquestion4">Back</a>
      <a class="btn btn-primary question5">Next</a>
    </div>
  </div>

  <div id="question6" class="well">
    <div class="quiz_box">
      <p class="text">6. I like to multitask on conference calls.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyOneValue, 4 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyOneValue, 2 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyOneValue, 1 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyOneValue, 0 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary bquestion5">Back</a>
      <a class="btn btn-primary question6">Next</a>
    </div>
  </div>

  <div id="question7" class="well">
    <div class="quiz_box">
      <p class="text">7. I'm willing to try a new approach or process even if it might not work.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyTwoValue, 4 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyTwoValue, 2 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyTwoValue, 1 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyTwoValue, 0 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary bquestion6">Back</a>
      <a class="btn btn-primary question7">Next</a>
    </div>
  </div>

  <div id="question8" class="well">
    <div class="quiz_box">
      <p class="text">8. If the internet were to go down at work and I had an important assignment to finish, I’d stay on the phone with the internet provider as long as it took and let my boss know my work might be late.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyThreeValue, 0 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyThreeValue, 1 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyThreeValue, 2 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyThreeValue, 4 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary bquestion7">Back</a>
      <a class="btn btn-primary question8">Next</a>
    </div>
  </div>

  <div id="question9" class="well">
    <div class="quiz_box">
      <p class="text">9. I’m okay with not being an expert in everything I do.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyFourValue, 4 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyFourValue, 2 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyFourValue, 1 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyFourValue, 0 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary bquestion8">Back</a>
      <a class="btn btn-primary question9">Next</a>
    </div>
  </div>

  <div id="question10" class="well">
    <div class="quiz_box">
      <p class="text">10. Giving presentations isn’t my thing.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyFiveValue, 0 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyFiveValue, 1 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyFiveValue, 2 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategyFiveValue, 4 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary bquestion9">Back</a>
      <a class="btn btn-primary question10">Next</a>
    </div>
  </div>

  <div id="question11" class="well">
    <div class="quiz_box">
      <p class="text">11. I already or would like to provide ways to give back to my community.</p>
      <div class="radio">
        <label>
          <%= f.radio_button :strategySixValue, 4 %>
          <span>Strongly Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategySixValue, 2 %>
          <span>Moderately Agree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategySixValue, 1 %>
          <span>Moderately Disagree</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :strategySixValue, 0 %>
          <span>Strongly Disagree</span>
        </label>
      </div>
      <a class="btn btn-primary bquestion10">Back</a>
      <a class="btn btn-primary question11">Next</a>
    </div>
  </div>

  <div id="email" class="well">
    <div class="quiz_user_info">
      <p class="text">Please tell us a little bit about yourself to see your results.</p>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "First & Last Name", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
      </div>
      <%= f.submit 'See Results', :class => 'btn btn-primary btn-submit' %>
      </div>
    </div>
  </div>

<% end %>
