<script>
$(document).ready(function(){
  event.preventDefault()
  $('.quiz2').hide();
  $('.quiz3').hide();
  $('.quiz4').hide();

  $('#quiz2').hide();
  $('#quiz3').hide();
  $('#quiz4').hide();
  $('#quiz5').hide();
  $('#quiz6').hide();
  $('#quiz7').hide();

  $('#quiz2').hide();
  $('#quiz3').hide();
  $('#quiz4').hide();

  $('#heading2').hide();
  $('#heading3').hide();
  $('#heading4').hide();
  $('#heading5').hide();
  $('#heading6').hide();
  $('#heading7').hide();

  $('#quiz1').click(function(){
    $('.quiz1').hide();
    $('.quiz2').show();
    $('#quiz1').hide();
    $('#quiz2').show();
    $('#heading1').hide();
    $('#heading2').show();
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
  });

  $('#quiz2').click(function(){
    $('.quiz2').hide();
    $('.quiz3').show();

    $('#quiz2').hide();
    $('#quiz3').show();
    $('#heading2').hide();
    $('#heading3').show();
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
  });

  $('#quiz3').click(function(){
    $('.quiz3').hide();
    $('.quiz4').show();
    $('#quiz3').hide();
    $('#quiz4').show();
    $('#heading3').hide();
    $('#heading4').show();
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
  });

  $('#quiz4').click(function(){
    $('.quiz4').hide();
    $('.quiz5').show();
    $('#quiz4').hide();
    $('#quiz5').show();
    $('#heading4').hide();
    $('#heading5').show();
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
  });

});
</script>

<div class="image"></div>
<div id="description">
  <div class="container">
    <p id="heading">Diversity &amp; Inclusion Assessment</p>
    <p id="paragraph">
      This tool is meant to enable organizations to benchmark their current diversity and inclusion activities and provide guidance in identifying areas to drive change. Companies that score high demonstrate they are performing at levels considered to be industry best practices while companies that score low demonstrate they have some work to do.
    </p>
  </div>
</div>

<div class="spacer" style="padding:10px;"></div>

<div class="container">
  <%= form_for @response, url: respondent_responses_path, html: { multipart: true } do |f| %>
  <%= f.hidden_field :question_id, value:@question.ids  %>
    <% if @response.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

        <ul>
        <% @response.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<div id="heading1">
  <h3 id="heading1">Commitment and Strategy</h3>
    <hr>
</div>
<div id="heading2">
  <h3 id="heading2">Talent Management</h3>
    <hr>
</div>

<div id="heading3">
  <h3 id="heading3">Business Processes</h3>
    <hr>
</div>

<div id="heading4">
  <h3 id="heading4">Culture</h3>
    <hr>
</div>

<div id="heading5">
  <h3 >Community Involvement</h3>
    <hr>
</div>

<div id="heading6">
  <h3 id="heading6">Communication</h3>
    <hr>
</div>

<div id="heading7">
  <h3 id="heading7">Measurement and Evaluation</h3>
    <hr>
</div>


<% @question.each do |question| %>
<% if question.section_number == 1 %>
  <div class="quiz1">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group text">
            <%= question.question_text %>
            </div>
          </div>
          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="radio col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <% question.answers.each do |answer| %>
            <%= radio_button_tag([:question_id,question.id], [answer.answer_weight]) %> <%= answer.answer_text %> <br>
            <% end %>
          </div>
        </div>
      <hr>
    </div>
  <% if question.id == 5 %>
    <a style="margin-top:20px;" id="quiz1" class="btn btn-primary">Next</a>
    <div class="spacer" style="padding:10px;"></div>
  <% end %>

<% elsif question.section_number == 2 %>
  <div class="quiz2">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="form-group text">
        <%= question.question_text %>
        </div>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <div class="line"></div>
      </div>

      <div class="radio col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <% question.answers.each do |answer| %>
        <%= radio_button_tag([:question_id,question.id], [answer.answer_weight]) %> <%= answer.answer_text %> <br>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <% if question.id == 20  %>
    <a style="margin-top:20px;" id="quiz2" class="btn btn-primary">Next</a>
    <div class="spacer" style="padding:10px;"></div>
  <% end %>

<% elsif question.section_number == 3 %>
  <div class="quiz3">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group text">
          <%= question.question_text %>
          </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="radio col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <% question.answers.each do |answer| %>
          <%= radio_button_tag([:question_id,question.id], [answer.answer_weight]) %> <%= answer.answer_text %> <br>
          <% end %>
        </div>
      </div>
    <hr>
  </div>
  <% if question.id == 26  %>
    <a style="margin-top:20px;" id="quiz3" class="btn btn-primary">Next</a>
    <div class="spacer" style="padding:10px;"></div>
  <% end %>


  <% elsif question.section_number == 4 %>
    <div class="quiz4">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group text">
          <%= question.question_text %>
          </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="radio col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <% question.answers.each do |answer| %>
          <%= radio_button_tag([:question_id,question.id], [answer.answer_weight]) %> <%= answer.answer_text %> <br>
          <% end %>
        </div>
      </div>
      <hr>
    </div>

    <% if question.id == 41  %>
      <a style="margin-top:20px;" id="quiz4" class="btn btn-primary">Next</a>
      <div class="spacer" style="padding:10px;"></div>
    <% end %>


    <% else %>
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  <% end %>

  <% end %>
</div>

    <% end %>
