<div class="container">


  <%= form_for [@respondent,@response], url: respondent_responses_path, html: { multipart: true } do |f| %>
    <% if response.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

        <ul>
        <% response.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


  <div id="quiztest">
    <% @question.each do |question| %>
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group text">
          <%= question.question_text %>
          </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="radio col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <% question.answers.each do |answer| %>
          <%= radio_button_tag(question.id, answer.answer_weight) %> <%= answer.answer_text %> <br>
          <% end %>
        </div>

      </div>
    <hr>
    <% end %>
  </div>
  <%= f.submit 'Submit', :class => 'btn btn-primary' %>

</div>
<% end %>
