<p id="notice"><%= notice %></p>

<%= @ones[0] %> first index

<br>

<%= @onesWeight[0] %> first score

<br>

<%= @ones[1] %> second index

<br>

<%= @onesWeight[1] %> second score

<br>

<%= @ones[2] %> third index

<br>

<%= @onesWeight[2] %> third score

<br>

<%= @ones[3] %> fourth index

<br>

<%= @onesWeight[3] %> fourth score

<br>

<%= @ones[4] %> fifth index

<br>

<%= @onesWeight[4] %> fifth score

<br>

<%= @onesWeight %> all scores

<br>

<%= @average %> average scores
