<p id="notice"><%= notice %></p>

<%= @section_one_total %>

<%= @response.section_one %>

<br>

<% string = @ones.join("~ ")
   lines = string.split("~ ")
   lines.each do |line| %>
  <li><%= line %></li>
<% end %>

<% string = @onesWeight.join("~ ")
   lines = string.split("~ ")
   lines.each do |line| %>
  <li><%= line %></li>
<% end %>

<% @ones.each do |one| %>
    <div class="post_wrapper">
        <h1 class="title">
          <%= one %>
        </h1>

        <p class="body">
          <%= @onesWeight %>
        </p>
    </div>
<%end%>
