
<div class="image"></div>
<div class="container">
  <p id="heading">Diversity &amp; Inclusion Assessment</p>
  <p id="paragraph">
    This tool is meant to enable organizations to benchmark their current diversity and inclusion activities and provide guidance in identifying areas to drive change. Companies that score high demonstrate they are performing at levels considered to be industry best practices while companies that score low demonstrate they have some work to do.
  </p>


<%= form_for [@diversity], url: diversities_path, html: { multipart: true } do |f| %>

  <% if diversity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diversity.errors.count, "error") %> prohibited this diversity from being saved:</h2>

      <ul>
      <% diversity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="question1" class="row ">
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <div class="form-group">
      <%= f.label :name, 'When given the choice, I prefer to be given a task list to run with.', :class => "text" %>
      </div>
    </div>

    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
      <div class="line"></div>
    </div>

      <div class="radio col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <%= f.radio_button :diversityOneValue, 1 %> We’ve taken no actions to address this.<br>
        <%= f.radio_button :diversityOneValue, 2 %> We taken actions to address this, but have not initiated a discussion.<br>
        <%= f.radio_button :diversityOneValue, 3 %> We’ve defined verbal and written standards to support this.<br>
        <%= f.radio_button :diversityOneValue, 4 %> We’ve defined standards and have integrated it into our workplace norms.<br>
        <%= f.radio_button :diversityOneValue, 5 %> We have standards and policies set to support this effort that represent best practice.<br>
      </div>

  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
