<%= form_for [@respondent],url: respondents_path, html: { multipart: true } do |f| %>
  <div class="di_user_info">
    <div class="form-group">
      <%= f.text_field :organization, placeholder: "Organization", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.email_field :user_email, placeholder: "Email", class: "form-control" %>
    </div>
    <%= f.submit 'Begin assessment', :class => 'btn btn-primary btn-submit' %>
  </div>
  <% if respondent.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% respondent.errors.each do | key, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
