<!DOCTYPE html>
<html>
  <head>
    <title>Artemis Connection</title>
    <link rel="shortcut icon" href="favicon.ico">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <header id="header" class="show-on-scroll" data-offset-el=".index-section" data-offset-behavior="bottom" role="banner">
      <div class="header-inner clearfix">
        <div id="logoWrapper" class="wrapper" data-content-field="site-title">
          <h1 id="logoImage">
            <a href="/">
              <%= image_tag("artemis-logo.png") %></a>
            </h1>
        </div>
        <ul class="header-nav">
          <li>
            <a href="http://www.artemisconnection.com/">Home</a>
          </li>
          <li>
            <a href="http://www.artemisconnection.com/work/">work</a>
          </li>
          <li>
            <a href="http://www.artemisconnection.com/team/">Team</a>
          </li>
          <li>
            <a href="http://www.artemisconnection.com/blog/">Blog</a>
          </li>
          <li>
            <a href="http://www.artemisconnection.com/contact/"  class="nav-contact">Contact</a>
          </li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
